.jumbotron{
    background-color: darkseagreen;
    color: darkslateblue;
}

.card-header{
    background-color: darkseagreen;
    color: indigo;
    font-weight: bold;
    
}
.card{
    border-color: lightblue;
    box-shadow: 5px 5px grey;
    margin: 10px;
    width: 75%;
}

.card-body{
    background-color: gainsboro;
}

.list-group{
    background-color: ghostwhite;
    color: darkblue;
}